[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ormantic = {editable = true, path = "."}

[dev-packages]
aiosqlite = "*"
pytest = "*"
ipython = "*"

[requires]
python_version = "3.6"
