[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
sqlalchemy = "*"

[dev-packages]
aiosqlite = "*"
pytest = "*"
ipython = "*"
databases = {extras = ["aiosqlite"],version = "*"}

[requires]
python_version = "3.6"
